*{
    box-sizing: border-box;
}

.nav{
    background-color: grey;
    display: flex;
    height: 50px;
    align-items: center;
}

.nav a{
    text-decoration: none;
    padding-right:10px;
    color: black;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-left{
    width: 30%;
    height: 100%;
    background-color: azure;
}
.content-right{
    width:70%;
    margin-left: 10px;
}
.photo{
    height: 200px;
    background-color: rgb(139, 180, 167);
}
.content-left .photo p{
    padding: 10px 0 0 10px;
}
.small-photo{
    height: 50px;
    background-color: rgb(139, 180, 167) ;
    margin-bottom: 10px;
}
